@font-face {
	font-family: 'Pretendard';
	src: url('./fonts/PretendardVariable.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
	background-color: #f2f2f2;
}

/* Side Navigation */
.side-nav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    transform: translateX(-250px); /* 처음에는 화면 왼쪽에 숨김 */
}

.side-nav.open {
    transform: translateX(0); /* open 클래스가 추가되면 보이도록 설정 */
}

.side-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #f1f1f1;
}

.side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}










header {
    border: none;
    width: 100%; /* 100vw 대신 100% 사용 */
    position: fixed; /* relative에서 fixed로 변경 */
    top: 0; /* 상단에 고정 */
    left: 0; /* 좌측에 고정 */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* 상하 패딩 추가 */
    background-color: transparent;
    z-index: 100; /* 다른 요소들보다 뒤에 위치 */
}

.header-left {
    flex: 1;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-center {
	flex: 2;
	text-align: center;
	color: #f2f2f2;
}

.menu-btn {
	background: none;
	border: none;
	font-size: 2rem;
	cursor: pointer;
	color: #f2f2f2;
}

header h1 {
	text-align: center;
	margin: 0;
}


main img {
    width: 100%;
    display: block;
}


footer {
	text-align: center;
	padding: 20px;
	background-color: #f2f2f2;
	color: #666;
	font-size: 0.9rem;
}