@font-face {
	font-family: 'Pretendard';
	src: url('./fonts/PretendardVariable.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
	background-color: #363636;
	margin: 0;
}

/* Side Navigation */
.side-nav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: #363636;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    transform: translateX(-250px); /* 처음에는 화면 왼쪽에 숨김 */
}

.side-nav.open {
    transform: translateX(0); /* open 클래스가 추가되면 보이도록 설정 */
}

.side-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f2f2f2;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #f1f1f1;
}

.side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



















header {
    border: none;
    width: 100%; /* 100vw 대신 100% 사용 */
    position: fixed; /* relative에서 fixed로 변경 */
    top: 0; /* 상단에 고정 */
    left: 0; /* 좌측에 고정 */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* 상하 패딩 추가 */
    background-color: transparent;
    z-index: 100; /* 다른 요소들보다 뒤에 위치 */
}

.header-left {
    flex: 1;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-center {
	flex: 2;
	text-align: center;
	color: #f2f2f2;
}

.menu-btn {
	background: none;
	border: none;
	font-size: 2rem;
	cursor: pointer;
	color: #f2f2f2;
}

header h1 {
	text-align: center;
	margin: 0;
}













main {
    position: relative; /* footer 위치의 기준점 */
}
main img {
    width: 100%;
    display: block;
}
/* 이미지 컨테이너 스타일 */
.index_blender, .index_ue5, .index_nomad {
    position: relative; /* 자식 요소를 절대 위치로 지정하기 위한 기준점 */
    width: 100%;
}

/* 이미지 위 텍스트 스타일 */
.image-text {
    position: absolute; /* 부모 요소(.index_blender 등)를 기준으로 위치 지정 */
    bottom: 10px; /* 아래쪽에서 10px 떨어진 곳에 배치 */
    left: 10px; /* 왼쪽에서 10px 떨어진 곳에 배치 */
    color: #f2f2f2; /* 글자색 */
    background-color: rgba(0, 0, 0, 0); /* 가독성을 위한 반투명 배경 */
    padding: 5px 10px; /* 텍스트 주변 여백 */
    
    /* 반응형 폰트 크기 설정 */
    font-size: 10vw; /* 뷰포트 너비의 2% 크기. 화면이 작아지면 글자도 작아짐 */
}

/* 모바일 화면 등 작은 화면을 위한 미디어 쿼리 */
@media (min-width: 768px) {
    .image-text {
        font-size: 4rem; /* 화면이 일정 크기 이상일 때 최대 글자 크기 고정 */
    }
}























footer {
    position: absolute; /* main을 기준으로 절대 위치 */
    bottom: 0;          /* main의 맨 아래에 배치 */
    width: 100%;        /* 너비 100% */
    box-sizing: border-box; /* 패딩을 너비에 포함 */
    text-align: center;
    padding: 20px;
    background-color: transparent;
    color: #f2f2f2;
}